/*表格样式*/
.tabCss{
    border-collapse: collapse; /*相邻边被合并;separate: 边框独立*/
    border: none;
    width: 90%;
    table-layout: fixed;  /*定义表格的布局算法*/
}
.tabCss td{
    width: 100%;
    height: 20px;
    border: solid #CCC 1px;
    vertical-align: middle;
    text-align: center;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden; /*超出宽度时隐藏*/
    text-overflow: ellipsis; /*溢出时显示文本标记“....”*/

}
/*表格首行样式*/
.tabCss tr:first-child{
    font-weight: bolder;
}
/*左侧导航栏样式*/
.leftNav{
    text-align: center;
}
/*搜索框样式*/
input{
    width: 100px;
}

